# Virtual environment folder
.venv/
venv/
.env

# Persistence things
/persistence

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings (optional)
.vscode/

# pytest cache
.pytest_cache/
